<!-- The page that shows all the stories that belong to the selected genre -->
<!-- This style block contains the background image, if you want to change it
    get the URL of the image you want to replace it with, and paste it inside
    the parentheses after "url" -->
<style type="text/css">
HTML {
    height: 100%;
}

BODY {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

{% extends "short_stories/base.html" %}

{% block page_header %}
    <!-- Text snippet that displays the title of the page -->
    <!-- The {{ genre }} tag displays the selected genre -->
    <h3>
        Cuentos de {{ genre }}:
    </h3>
{% endblock page_header %}

{% block content %}
    <!-- This section of the site displays the stories of the selected genre 
        in Bootstrap4's card format -->
    {% for story in stories %}
        <div class="card mb-3">
            <div class="row g-0 no-gutters">
                <div class="col-md-3">
                    <!-- The image links to the individual story page -->
                    <a href="{% url 'short_stories:story' story.id %}">
                        <!-- The image displayed at the left  of the card -->
                        <img src="{{ story.cover }}" class="rounded-start responsive"alt="Portada">
                    </a>
                </div>
                <div class="col">
                    <h4 class="card-header">
                        <div class="row">
                            <div class="col">
                                <!-- A link to the story, using the title of the story -->
                                <a href="{% url 'short_stories:story' story.id %}">
                                    {{ story }}
                                </a>                                
                            </div>
                            <div class="col">
                                <!-- The date the story was added to the database -->
                                <small class="text-muted" style="float:right">
                                    Publicado: {{ story.date_added|date:'M d, Y' }}
                                </small>
                            </div>
                        </div>
                    </h4>
                    <!-- The body of the card, displays the synopsis -->
                    <div class="card-body overflow-scroll">
                        {{ story.synopsis|linebreaks }}
                    </div>
                </div>
            </div>
        </div>

    <!-- This message is displayed in case the story database is empty -->
    {% empty %}
        <p>Aún no se ha publicado ningún cuento de este género.</p>
    {% endfor %}


{% endblock content %}