<!-- This is the main page of the site -->
<!-- The index, if you will -->
<!-- This style block contains the background image, if you want to change it
    get the URL of the image you want to replace it with, and paste it inside
    the parentheses after "url" -->
<style type="text/css">
HTML {
    height: 100%;
}

BODY {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
{% extends "short_stories/base.html" %}

{% block page_header %}

  <!-- This is a bar that displays buttons linking to each registered genre. 
    You don't have to manually add a new button for each genre you add, this 
    block of code will take care of that.-->
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between btn-group" role="group" aria-label="Genres">
        {% for genre in genres %}
        <!-- The button that links to the individual genre page -->
        <a href="{% url 'short_stories:genre' genre.id %}"  class="p-2 btn btn-outline-dark">{{ genre }}</a>
        {% empty %}
        <!-- This is displayed in case there aren't any genres added yet. -->
        <p>No genres yet</p>
        {% endfor %}
    </nav>
  </div>
    <!-- This is the "Jumbotron", the big block in the center of the page that 
    displays some text -->
    <div class="jumbotron bg-dark text-white text-center">
        <!-- This is the main part of the jumbotron, in this case, 
        the jumbotron displays the author's name -->
        <h1 class="display-2 fst-italic">
            Luis Martínez
        </h1>

        <p class="lead my-3">
            Colección de los cuentos escritos por Luis Martínez (Osea, yo).
        </p>
        <a href="{% url 'short_stories:stories' %}" class="btn btn-secondary btn-lg">
            Entrele
        </a>

    </div>

    
{% endblock page_header %}

{% block content %}
{% endblock content %}