<style type="text/css">
HTML {
    height: 100%;
}

BODY {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
{% extends "short_stories/base.html" %}

{% block page_header %}


  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between btn-group" role="group" aria-label="Genres">
        {% for genre in genres %}
        <a href="{% url 'short_stories:genre' genre.id %}"  class="p-2 btn btn-outline-dark">{{ genre }}</a>
        {% empty %}
        <p>No genres yet</p>
        {% endfor %}
    </nav>
  </div>
    <div class="jumbotron bg-dark text-white text-center">
        <h1 class="display-2 fst-italic">
            Luis Martínez
        </h1>

        <p class="lead my-3">
            Colección de los cuentos escritos por Luis Martínez (Osea, yo).
        </p>
        <a href="{% url 'short_stories:stories' %}" class="btn btn-secondary btn-lg">
            Entrele
        </a>

    </div>

    
{% endblock page_header %}

{% block content %}
{% endblock content %}