<style type="text/css">
HTML {
    height: 100%;
}

BODY {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1519791883288-dc8bd696e667?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
{% extends "short_stories/base.html" %}

{% block page_header %}

    <div class="jumbotron">
        <h1 class="display-3">
            Autor Luis Martínez
        </h1>

        <p class="lead">
            Colección de los cuentos escritos por Luis Martínez (Osea, yo).
        </p>
    </div>

    
{% endblock page_header %}

{% block content %}
{% endblock content %}